@font-face {
    font-family: Retro;
    src: url("Apple\ ][.ttf");
}

:root {
    --mainColor: #00FF99;
    /* --mainColor: #3498DB; */
    --bgColor: black;
    --mobile: "false";
}

body {
    font-family: Retro;
    background-color: var(--bgColor);
    color: var(--mainColor);
    font-size: 15px;
    user-select: none;
    text-transform: uppercase;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: -50px;
    padding: 50px;
}
button {
    font-family: Retro;
    text-transform: uppercase;
}

#mainGameContainer {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    margin-top: 30px;
}
#bottomHalf {
    display: flex;
    flex-direction: row;
}
#bottomHalf .subContainer {
    display: flex;
    flex-direction: row;
    margin: 0;
}
.gameDiv {
    /*outline: solid 2px white;*/
    height: 520px;
    margin-right: 20px;
    line-height: 1.5;
    width: fit-content;
    height: fit-content;
}
p {
    display: inline;
}
#top {
    margin-bottom: 20px;
}
#extra {
    display: flex;
    align-items: flex-end;
}
span {
    background: var(--mainColor);
    color: var(--bgColor);
    padding-top: 5px;
    padding-bottom: 5px;
    width: fit-content;
}

#menu {
    display: flex;
    flex-direction: row;
    padding-top: 25px;
    padding-left: 25px;
}
#menu button {
    color: var(--mainColor);
    background-color: var(--bgColor);
    font-family: Retro;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    outline: none;
    border: 2px solid var(--mainColor);
    padding: 10px;
    margin-right: 15px;
}
#menu button:hover {
    color: var(--bgColor);
    background-color: var(--mainColor);
}
.popupMenu {
    display: flex;
    flex-direction: column;
    display: none;
    position: absolute;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 15px;
    margin-top: 10px;
    background-color: var(--bgColor);
    border: 1px solid var(--mainColor);
    outline: none;
    max-width: 900px;
    max-height: 85vh;
    overflow-y: scroll;
}
.popupMenu .body {
    text-indent: 40px;
    line-height: 1.5;
}
.selectOption {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* I have no idea why this vertically centers the text*/
    align-items: flex-end;
    background-color: var(--bgColor);
    color: var(--mainColor);
    font-family: Retro;
    font-size: 15px;
    width: fit-content;
    border: none;
    outline: none;
    margin: 3px;
    text-transform: uppercase;
}
.selectOption:hover {
    border: 2px solid var(--mainColor);
    margin: 1px;
}
.selectOption div {
    background-color: var(--bgColor);
    border: 2px solid var(--mainColor);
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

::-webkit-scrollbar {
    width: 20px;
}
::-webkit-scrollbar-track {
    background: var(--bgColor);
}
::-webkit-scrollbar-thumb {
    background-color: var(--mainColor);
}
::-webkit-scrollbar-thumb:hover {
    background-color: var(--mainColor);
}

#mobileControls {
    display: none;
}

/* resize for mobile */
@media only screen and (max-width: 768px) {
    html {
        overflow: hidden;
    }
    
    body {
        font-size: 10px;
        position: fixed;
        overflow: hidden;
        margin-left: -60px;
    }

    #mainGameContainer {
        overflow: hidden;
    }

    #menu {
        padding-top: 15px;
    }
    #menu button {
        font-size: 10px;
    }

    .popupMenu {
        max-width: 88vw;
        margin-left: 10px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 10px;
    }
    .popupMenu .body {
        text-indent: 20px;
    }
    .selectOption {
        font-size: 10px;
    }
    .selectOption:hover {
        border: none;
        margin: 3px;
    }

    #top {
        font-size: 10px;
        margin: 0;
        margin-bottom: 5px;
    }

    #bottomHalf {
        flex-direction: column;
    }

    #extra {
        font-size: 8px;
        margin: 0;
        padding: 0;
        margin-top: -200px;
        margin-left: -15px;
    }

    #mobileControls {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 141px;
        right: 40px;
        margin-left: auto;
        bottom: 110px;
    }
    #mobileControls div {
        display: flex;
        flex-direction: row;
        margin: 0;
        justify-content: space-evenly;
    }   
    #mobileControls button {
        display: none;
        width: 45px;
        height: 45px;
        padding: 10px;
        margin: 1px;
        text-align: center;
        border: 2px solid var(--mainColor);
        color: var(--mainColor);
        background-color: var(--bgColor);
    }
    #mobileControls .textButton {
        width: fit-content;
    }
    #mobileControls .yesno {
        display: none;
    }
}