@font-face {
    font-family: Retro;
    src: url("Apple\ ][.ttf");
}

body {
    font-family: Retro;
    background-color: black;
    color: #00FF99;
    font-size: 20px;
    user-select: none;
    text-transform: uppercase;
}
#mainGameContainer {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    margin-top: 30px;
}
#bottomHalf {
    display: flex;
    flex-direction: row;
}
.gameDiv {
    outline: solid 1px white;
    height: 520px;
    margin-right: 20px;
    line-height: 1.25;
    width: fit-content;
    height: fit-content;
}
#top {

    margin-bottom: 20px;
}
/*
#leftLineNumbers {
    background-color: blue;
}
#leftMain {
    background-color: aqua;
}
#rightLineNumbers {
    background-color: red;
}
#rightMain {
    background-color: orange;
}
#extra {
    background-color: greenyellow;
} */