@font-face {
    font-family: Retro;
    src: url("Apple\ ][.ttf");
}

body {
    font-family: Retro;
    background-color: black;
    color: #00FF99;
    font-size: 20px;
    user-select: none;
}
#mainGameContainer {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    margin-top: 30px;
}
#bottomHalf {
    display: flex;
    flex-direction: row;
}
.gameDiv {
    height: 520px;
    /* outline: solid 1px white; */
    margin-right: 20px;
}
#top {
    /* width: 700px; */
    width: fit-content;
    /* height: 150px; */
    height: fit-content;
    margin-bottom: 20px;
}
.lineNumbers {
    /* width: 120px; */
    width: fit-content;
    height: 1px;
}
.gameMain {
    /* width: 240px; */
    width: fit-content;
    height: 1px;
}
/*
#leftLineNumbers {
    background-color: blue;
}
#leftMain {
    background-color: aqua;
}
#rightLineNumbers {
    background-color: red;
}
#rightMain {
    background-color: orange;
}
#extra {
    background-color: greenyellow;
} */